{% extends "layout.html" %}
{% block title %}Home page{% endblock %}
{% block content %}

    <br><h3>Insira a planilha do terminal em formato CSV</h3>
</div>
<br>
<form method="POST" enctype="multipart/form-data">
    <label class="btn btn-default" for="planilhaold">
        <input id="planilhaold" name="planilha" type="file" style="display:none"
        onchange="$('#upload-file-info').html(this.files[0].name)">
        Planilha Terminal
    </label>
    <span class='label label-success' id="upload-file-info"></span>
    &nbsp;
<input class="btn btn-primary" type="submit" value="Enviar planilha"/>
</form>

{% endblock %}
